.years {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 2px;
  padding-right: 2px;
}

.years__item {
  background: #c2e295;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  .years {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .years {
    grid-template-columns: repeat(1, 1fr);
  }
}
