.tandf {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tandf__item {
  background: #c2e295;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
